* {
  margin: 0px;
  padding: 0px;
}

.div2  {
  background-color: wheat;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  margin: 50px;

}

.cont{ 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.cont h1 { 
  margin-top: 40px;
  padding: 0px;
}

.cont h5 { 
  margin-top: 10px;
  padding: 0px;
}